<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>Select WIFI</title>

    <link rel="stylesheet" href="/static/css/application.css" />
</head>

<body>
    <div class="wrapper">
        <div id="main-content" class="inner-wrapper">
	   <div class="row no-border" id="login">
		 <ul class="no-bullets">
			 <li><p>Password:</p></li>
			 <li><input type="password" id="passphrasePage"/></li>
			 <li>
				<input type="checkbox" id="showpassphrasePage" onchange="show_passphrase('Page')"/>
				<label for="showpassphrasePage">show passphrase</label>
			</li>
			<li><input type="button" value="Continue" onclick="authenticate()"/></li>
		</ul>
	   </div>

           <div class="row no-border" id="grid">

                <h2>Select WIFI to connect to</h2>
                <fieldset>
                <div class="twelve-col">
                <table>
                <tbody>
                {{range $i, $ssid := .Ssids}}
                <tr>
                    <th scope="row">
                        <label class="collapse" for="radio{{$i}}">{{$ssid}}</label>
                        <input id="radio{{$i}}" type="radio" name="c1">
                        <div class="six-col">
                        <fieldset>
                        <ul class="no-bullets">
                            <li>
                                <input type="hidden" id="ssid{{$i}}" value="{{$ssid}}"/>
                                <label for="passphrase">Enter passphrase:</label>
                                <input type="password" id="passphrase{{$i}}"/>
                            </li>
                            <li>
                                <input type="checkbox" id="showpassphrase{{$i}}" onchange="show_passphrase({{$i}})"/>
                                <label for="showpassphrase">show passphrase</label>
                            </li>
                            <li>
                                 <div id="alert{{$i}}" class="cheshire box" style="background-color: #eee">
                                    <h3>Caution!</h3>
                                    <p>Continuing will disconnect you from the device by taking down its WIFI network. 
                                        This page will be unavailable. After continuing, you may connect to the device 
                                        through its new WIFI connection. Proceed?.</p>    
                                </div>
                            </li>
                            <li>
                                <input type="button" value="Cancel" class="button--primary" onclick="clear_row({{$i}})"/>
                                <input type="button" id="connect{{$i}}" value="Connect" class="button--primary" onclick="do_connect({{$i}})"/>
                            </li>
                            
                        </ul>
                        </fieldset>
                        </div>
                    </th>
                </tr>
                {{end}}
                </tbody>
                </table>
                </div>
                </fieldset>
            </div>
        </div>
    </div>

    <form id="wifi-form" action="connect" method="POST">
        <!-- hidden fields to be sent to service-->
        <input type="hidden" name="ssid"/>
        <input type="hidden" name="pwd"/>
    </form>

<script>
        $(document).ready(function(){
                $('#grid').css('display', 'none')      
	})
	function showSsids() {
	    $('#login').css('display', 'none');      
	    $('#grid').css('display', 'block');     
	}
	function authenticate(){
            var pw = $('#passphrasePage').val();
	    if ( pw.length < 8) {
		alert("Password must be at least 8 characters long");
	    } else {
	        $.ajax({
	          type: "POST",
	          url: "/hashit",
	          data: {Hash: pw}
	        }).done(function (hashRet) {
		    console.log("in ajax done.", hashRet);
		    hash = JSON.parse(hashRet);
		    console.log(hash)
		    if (hash.HashMatch) {
			showSsids();
		    } else {
			alert("Your password does not match, please try again");
		    }
	        })
            }
	}    
</script>


<script>
function clear_row(i) {
    pwdElement = document.getElementById('passphrase'+i)
    pwdElement.value='';
    pwdElement.type='password';
    document.getElementById('showpassphrase'+i).checked=false;
    document.getElementById('radio'+i).checked=false;
    document.getElementById('alert'+i).style.display='none';
    document.getElementById('connect'+i).value='Connect';
}

function show_passphrase(i) {
    var type = document.getElementById('showpassphrase'+i).checked ? 'text' : 'password' 
    document.getElementById('passphrase'+i).type = type
}

function do_connect(i) {
    // if connect button has "Connect" as label, show the alert previous to 
    // connecting. Connect if that alert is already visible
    var connectButton = document.getElementById('connect'+i)
    if (connectButton.value == "Connect") {
        document.getElementById('alert'+i).style.display='block';
        connectButton.value = 'Yes'
    } else {
        var ssid = document.getElementById('ssid'+i).value;
        var pwd = document.getElementById('passphrase'+i).value;
        if (ssid != '') {
            var form = document.getElementById("wifi-form");
            form.ssid.value = ssid
            form.pwd.value = pwd
            form.submit()
        } else {
            alert("No SSID provided to connect to")
        }
    }  
}
</script>
</body>
</html>
