<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Operational.</title>
        <link rel="stylesheet" href="/static/css/application.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div id="main-content" class="inner-wrapper">
	   <div class="row no-border" id="login">
		<p>Password:</p>
		<input type="text" id="password"/>
		<input type="button" value="Continue" onclick="authenticate()"/>
	   </div>
           <div class="row no-border" id="grid">
                <h2>Connected!</h2>
		<p>The device is connected to an external WiFi AP</p>
                <p>Click below to disconnect. Then, join the device Wifi AP, where you can select a new external AP to connect to.</p>
                 <input type="button" id="disconnect" value="Disconnect from Wifi" class="button--primary" onclick="disconnect()"/>
            </div>
        </div>
    </div>

<script>
        $(document).ready(function(){
                $('#grid').css('visibility', 'hidden')      
	})
	function showSsids() {
	    $('#login').css('visibility', 'hidden');      
	    $('#grid').css('visibility', 'visible');     
	}
        function authenticate() {
            var pw = $('#password').val();
	    if ( pw.length < 8) {
		alert("Password must be at least 8 characters long");
	    } else {
	        $.ajax({
	          type: "POST",
	          url: "/hashit",
	          data: {Hash: pw}
	        }).done(function (hashRet) {
		    console.log("in ajax done.", hashRet);
		    hash = JSON.parse(hashRet);
		    console.log(hash)
		    if (hash.HashMatch) {
			showSsids();
		    } else {
			alert("Your password does not match, please try again");
		    }
	        })
            }
	}    

function disconnect() {
    $.ajax({
      url: "/disconnect"
    }).done(function () {
        console.log("in ajax done.");

    })
} 

</script>

</body>
</html>
