<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Operational.</title>
        <link rel="stylesheet" href="/static/css/application.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div id="main-content" class="inner-wrapper">
            <div class="row no-border" id="grid">
                 <h3>Operational</h3>
                 <input type="text" id="hashme" />
                 <p id="hashres">start</p>
                 <input type="button" id="hash" value="Enter your password" class="button--primary" onclick="hashIt()"/>
                 <input type="button" id="disconnect" value="Disconnect from Wifi" class="button--primary" onclick="disconnect()"/>
            </div>
        </div>
    </div>


<script>
function hashIt() {
    var send
    send = document.getElementById("hashme").value
    $.ajax({
      type: "POST",
      url: "/hashit",
      data: {Hash: send}
    }).done(function (hashRet) {
        console.log("in ajax done.", hashRet);
        hash = JSON.parse(hashRet);
        document.getElementById("hashres").innerHTML = hash.Hash;
    })
} 


function disconnect() {
    $.ajax({
      url: "/disconnect"
    }).done(function () {
        console.log("in ajax done.");

    })
} 

</script>

</body>
</html>
