<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>SSIDs</title>

	<link rel="stylesheet" href="/static/css/application.css" />

</head>
<body>
    <form>
    <table>
        <thead>
            <tr>
              <th style="text-align:center" colspan="2">Select Wifi to connect to:</th>
            </tr>
        </thead>
        <tbody>
        {{with .Ssids}}
            {{range .}}
            <tr>
                <td style="text-align:right"><input type="radio" name="essid" value="{{.Ssid}}"/></td><td style="text-align:left">{{.Ssid}}</td>
            <tr>
            {{end}}
        {{end}}
        </tbody>
    </table>
    </form>	
</body>
</html>
