<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Select WIFI</title>

    <link rel="stylesheet" href="/static/css/application.css" />
</head>

<body>
    <div class="wrapper">
        <div id="main-content" class="inner-wrapper">
            <div class="row no-border" id="grid">
                <h2>Select WIFI to connect to</h2>
                <!-- Show alert box if an alert message comes in page data-->
                {{if ne .Alert ""}}
                <div class="box alert">
					<p>{{.Alert}}</p>
				</div>
                {{end}}
                <fieldset>
                <div class="twelve-col">
                <table>
                <tbody>
                {{range $i, $network := .Networks}}
                <tr>
                    <th scope="row">
                        <label class="collapse {{$network.Status}}" for="radio{{$i}}">{{$network.Ssid}}</label>
                        <input id="radio{{$i}}" type="radio" name="c1">
                        <div class="six-col">
                        <fieldset>
                        <ul class="no-bullets">
                            <li>
                                <input type="hidden" id="ssid{{$i}}" value="{{$network.Ssid}}"/>
                                <input type="password" name="password" id="password{{$i}}"/>
                            </li>
                            <li>
                                <input type="checkbox" name="showpassword" id="showpassword{{$i}}" onchange="show_password({{$i}})"/>
                                <label for="showpassword">show password</label>
                            </li>
                            <li>
                                <button class="button--primary" onclick="clear_row({{$i}})">Cancel</button>
                                <button class="button--primary" onclick="do_connect({{$i}})">Connect</button>
                            </li>
                        </ul>
                        </fieldset>
                        </div>
                    </th>
                </tr>
                {{end}}
                </tbody>
                </table>
                </div>
                </fieldset>
            </div>
        </div>
    </div>

    <form id="wifi-form" action="connect" method="POST">
        <!-- hidden fields to be sent to service-->
        <input type="hidden" name="ssid"/>
        <input type="hidden" name="pwd"/>
    </form>

<script>
function clear_row(i) {
    document.querySelector('#password'+i).value='';
    document.querySelector('#password'+i).type='password';
    document.querySelector('#showpassword'+i).checked=false;
    document.querySelector('#radio'+i).checked=false;
}
function show_password(i) {
    if (document.querySelector('#showpassword'+i).checked) {
        document.querySelector('#password'+i).type = 'text';
    } else {
        document.querySelector('#password'+i).type = 'password';
    }
}
function do_connect(i) {
    var ssid = document.querySelector('#ssid'+i).value;
    var pwd = document.querySelector('#password'+i).value;
    if (ssid != '') {
        var form = document.querySelector("#wifi-form");
        form.ssid.value = ssid
        form.pwd.value = pwd
        form.submit()
    }
}
</script>
</body>
</html>
